@use '../../styles/_colors.scss' as color;
.container {
	padding: 30px 0px 0px 30px;
	display: grid;
	grid-template-columns: 1fr auto;
	font-size: 1em;
}
.left-field {
	display: grid;
}
.title-message {
	font-size: 0.7em;
}
.title-name-friend {
	padding-top: 30px;
	font-size: 2.6em;
	color: color.$black;
}
.block-messages {
	overflow-y: auto;
	min-height: 18cm;
	max-height: 18cm;
	padding: 30px 5px;
}

.input-field {
	padding-top: 20px;
	display: grid;
}

.right-field {
	padding: 10px;
	min-width: 80px;
	display: grid;
	align-items: flex-end;
}
